* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: rgba(0, 0, 0, 0.99);
}

a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: all 160ms ease;
}
a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 5em;
}
main section {
  max-width: 25em;
}
main section article p {
  margin-top: 0;
  font-size: 1.24rem;
  line-height: 1.35;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
main section article p:last-child {
  margin: 0;
}
